
.example-run { background-image:url(../img/icons/run.png) !important; }
.example-module { background-image:url(../img/icons/module.png) !important; }
.example-template { background-image:url(../img/icons/template.png) !important; }
.example-refresh { background-image:url(../img/icons/refresh.png) !important; }
.example-comment { background-image:url(../img/icons/comment.png) !important; }

